<ion-view>

<ion-content>


<div class="container">
        <img src="img/blackjack.png">

    <h2>Player Cards: 
        <b  ng-repeat="item in playerHand  track by $index" class="hand"> {{item}} </b>
        <span ng-show='player' >= <span class="total">{{player}}</span></span>
    </h2>
    <br />
    <h2>Dealer Cards: 
        <b ng-repeat="card in dealerHand  track by $index" class="hand"> {{card}} </b>
        <span ng-show='dealer'>= <span class="total">{{dealer}}</span></span>
    </h2>
      <div ng-show="playerWin">
         <h1 class="win"> YOU WON!!
            <i class="icon ion-star"></i>
         </h1>
      </div>
        <div ng-show="dealerWin">
         <h1 class="lost"> YOU LOST!!
            <i class="icon ion-android-sad"></i>
         </h1>
      </div>

          <div class="button-bar">
                <button class="button button-assertive" ng-click='hit()' ng-disabled='disabled' >
                  <h2>{{state}} </h2>
                </button>
               <button class="button button-balanced"  ng-click='stand()' ng-disabled='disabled' >
                <h2> Stand</h2>
                </button>
                <button class="button button-dark"  ng-click='reset()'>
                <h2> Reset </h2>
                </button>        
            </div>
  </div>

</ion-content>

</ion-view>