/* Empty. Add your own CSS if you like */
.container
{
	margin-top: 30px;	
	text-align: center;
/*	background-image: url(http://www.transparenttextures.com/patterns/diamond-upholstery.png);
*/
}
.number
{
	transition:0.5s linear all;
}
.number.ng-enter
{
	opacity: 0;
}
.number.ng-enter-active
{
	opacity: 0;
	transition:0.5s linear all;
}
.content
{
	text-align: center;
}
h1
{
	color: #fff;
}

.win
{
	color: #ead21c;
}
.lost
{
	color: #dd3213;
}

h2 
{
	color: #fff;
}
h2 .total
{
	color: #dd3213;
	padding: 6px;
	background-color: #fff;
	border: solid; 
	font-weight: bolder;

}
h2 .hand
{
	color: #dd3213;
	background-color: #fff;
	padding: 2px;
	margin-right: 6px;
	border: solid; 
	border-width: 1px;
}

ion-content {
background-color: #064a06;
background-image: url(http://www.transparenttextures.com/patterns/argyle.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */    
}


